<h1>Welcomepage#start</h1>
<p>Find me in app/views/welcomepage/start.html.erb</p>
<p>Dapo was here!</p>
<h1>Hello, Rails!</h1>
<%= link_to "My Blog", controller: "posts" %>
<%= link_to 'New post', new_post_path %>